<div class="exercises-container ">
    <div class="drag-drop col-2">
        <div class="example-container">

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)">

                <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>

            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="example-container ">

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div *ngIf="done.length === 0" class="example-placeholder">...قم بسحب وادراج نوع السؤال هنا  </div>

                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>

            </div>
        </div>
        <div class="forms-container">
            <div class="multiple-form option" *ngIf="questionType == 'اختيار من متعدد'" >
                <div class="mb-3">
                    <h1>multiple</h1>
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
              </div>
              <div class="single-form option" *ngIf="questionType == 'اختيار فردى'">
                <div class="mb-3">
                    <h1>single</h1>
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                
              </div>
              <div class="text-form option" *ngIf="questionType == 'نص'">
                <div class="mb-3">
                    <h1>text</h1>
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                
              </div>
        </div>
    </div>
</div>
<div>



</div>