<div class="exercises-container ">
    <div class="drag-drop col-2">
        <div class="example-container">

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)">

                <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>

            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="example-container">

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div *ngIf="done.length === 0" class="example-placeholder">No items done yet</div>

                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>

            </div>
        </div>
        <div class="forms-container">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
<div>



</div>