<div class="subject-container">
    <div class="header">
        <h1>المواد</h1>
    </div>
    <div class="content">
        <div class="card" *ngFor="let subject of subjectList">
            <img [src]="subject.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{subject.name}}</h5>
                <p class="card-text">{{subject.description}}</p>
                <div class="status ">
                    <h6>:الحالة</h6>
                    <i class="m-0"
                        [ngClass]="{'status-done': subject.status === 'مكتمل', 'status-not-done': subject.status === 'غير مكتمل'}">{{subject.status}}</i>
                </div>
                <a href="#" class=""> <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2393 9.01529L3.05664 9.01529" stroke="#FF3BA6" stroke-width="1.0166"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.63135 13.59L3.05664 9.01529L7.63135 4.44058" stroke="#FF3BA6" stroke-width="1.0166"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>اضافة تمرين
                </a>
            </div>
        </div>
    </div>
</div>