<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid ">
    <div class="title">
      <a class="navbar-brand" href="#">المواد</a>
    </div>
    <div class="nav">
      <div class="icons">
        <ul class="mb-0">
          <li><i class="bi bi-calendar4-week"></i>
          </li>
          <li> <i class="bi bi-question-square"></i>
          </li>
          <li><i class="bi bi-bell"></i></li>
        </ul>
      </div>
      <div class="profile">
        <div class="image">
          <img src="../../../../assets/43632.jpg" alt="avatar">
        </div>
        <div class="text ">
          <h5 class="m-0">احمد سليمان</h5>
          <p>معلم</p>

        </div>
        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </div>
</nav>